<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="videos">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>VIDEOS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resources">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>RESOURCES</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
