<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Video
    </ion-title>
    <ion-button slot="end" (click)="goBack()">
      <ion-icon color="light" name="return-up-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Video</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="https://dnndave.com{{video.image}}" />
    <ion-card-header>
      <ion-card-subtitle>{{video.date}}</ion-card-subtitle>
      <ion-card-title>{{video.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content [innerHtml]="video.showNotes">
    </ion-card-content>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" href="https://youtu.be/{{video.youTubeId}}" target="_blank">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
