<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RESOURCES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RESOURCES</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img class="ion-padding" src="../../../assets/dnnDaveLogo-lettering.png" />
    <ion-card-content>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://dnndave.com" target="_blank">
        <ion-label>Website</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://github.com/nvisionative/dnn-dave-mobile-app" target="_blank">
        <ion-label>Mobile App on GitHub</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://github.com/sponsors/david-poindexter" target="_blank">
        <ion-label>Sponsor DNN Dave</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../../assets/hero-background-dnn-cms.jpg" />
    <ion-card-content>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://dnncommunity.org" target="_blank">
        <ion-label>DNN Community Website</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://github.com/DNNCommunity" target="_blank">
        <ion-label>DNN Community on GitHub</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://github.com/dnnsoftware/Dnn.Platform" target="_blank">
        <ion-label>DNN Platorm on GitHub</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://docs.dnncommunity.org" target="_blank">
        <ion-label>DNN Docs</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://dnnsummit.org" target="_blank">
        <ion-label>DNN Summit</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://dnn-connect.org" target="_blank">
        <ion-label>DNN Connect</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img class="ion-padding" src="../../../assets/nv_Characters_vector.png" />
    <ion-card-content>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://nvisionative.com" target="_blank">
        <ion-label>nvisionative</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://github.com/nvisionative" target="_blank">
        <ion-label>nvisionative on GitHub</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://nvquicksite.com" target="_blank">
        <ion-label>nvQuickSite</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://nvquicktheme.com" target="_blank">
        <ion-label>nvQuickTheme</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://github.com/nvisionative/nvQuickPulse" target="_blank">
        <ion-label>nvQuickPulse on GitHub</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://github.com/nvisionative/nvQuickComponents" target="_blank">
        <ion-label>nvQuickComponents on GitHub</ion-label>
      </ion-button>
      <ion-button expand="block" fill="solid" color="danger" class="ion-margin-top" href="https://github.com/nvisionative/nvQuickPersonaBar" target="_blank">
        <ion-label>nvQuickPersonaBar on GitHub</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
